<div class="container mt-4">
  <table class="table table-hover">
    <thead class="table-dark ">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Count</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of products;index as idx">
      <th>{{idx + 1}}</th>
      <td>{{product.name}}</td>
      <td>{{product.price}}</td>
      <td>{{product.count}}</td>
      <td>
        <button class="btn btn-success btn-sm">+</button>
        {{product.count}}
        <button class="btn btn-danger btn-sm">-</button>
      </td>
    </tr>
    <tr>
      <td colspan="4" class="text-end border-end fs-5">Total</td>
      <td>202002$</td>
    </tr>
    </tbody>
  </table>
</div>
