<div class="container my-3  ">
  <div class="mt-3">
    <input type="file" (change)="fileChangeEvent($event)" class="form-control">
  </div>
  <image-cropper
    [imageChangedEvent]="imageChangedEvent"
    [maintainAspectRatio]="true"
    [aspectRatio]="4/3"
    [resizeToWidth]="128"
    format="png"
    (imageCropped)="imageCropped($event)"
    (imageLoaded)="imageLoaded()"
    (cropperReady)="cropperReady()"
    (loadImageFailed)="loadImageFailed()"
  ></image-cropper>

  <img [src]="croppedImage" alt="some" *ngIf="croppedImage"/>
  <div>
    <button class="btn btn-outline-info mt-3" (click)="uploadImage()">Upload</button>
  </div>
</div>
