<div class="container my-5">
  <a routerLink="/admin/gallery/create" class="btn btn-primary mb-3">Create</a>
  <div class="row">
    <div class="col-md-4" *ngFor="let category of galleries">
      <img src="http://localhost:3000/{{category.name}}" class="card-img-top">
      <div class="card">
        <div class="card-body">
          <div class="card-title">
            <h5>{{category.name}}</h5>
          </div>

          <div class="d-block ">
            <button class="btn btn-primary d-block" (click)="copyImage(category.name)">Copy</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
