<div class="container my-5">
  <div class="row">
    <div class="col-md-4" *ngFor="let category of galleries">
      <img src="http://localhost:3000/{{category.image}}" class="card-img-top">
      <div class="card">
        <div class="card-body">
          <div class="card-title">
            <h5>{{category.name}}</h5>
          </div>
          <p class="text-end">
            <a [routerLink]="['detail',category.id]" class="btn btn-primary float-end">Detail</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
