<div class="container my-3">
  <div class="row">
    <div class="col-md-4" *ngFor="let product of products">
      <div class="card my-1">
        <div class="card-body">
          <h3 class="display-6 fs-3">{{product.name}}$</h3>
          <p>
            {{product.price}}$
          </p>
          <div>
            <button class="btn btn-primary">Add To Cart</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container col-md-4 mt-3">
  <ul class="pagination">
    <li class="page-item">
      <a routerLink="/admin/post/all" class="page-link" (click)="prevPage()">Prev</a>
    </li>
    <li class="page-item">
      <a routerLink="/admin/post/all" class="page-link" *ngIf="response?.page">{{response.page}}</a>
    </li>
    <li class="page-item">
      <a routerLink="/admin/post/all" class="page-link" (click)="nextPage()">Next</a>
    </li>
  </ul>

</div>
