<div class="container mt-5">
  <h1 class="display-6 text-center">Register</h1>
  <form class="col-md-8 offset-md-2"
        [formGroup]="form"
        (submit)="startRegister(form.value)"
  >
    <div class="mb-3">
      <label for="username" class="form-label">Name</label>
      <input type="text" class="form-control" id="username"
             formControlName="name">
      <div *ngIf="name?.invalid">
        <div class="text-danger" *ngIf="name?.errors?.['required']">
          Name is requied
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
             formControlName="email">
      <div *ngIf="email?.invalid">
        <div class="text-danger" *ngIf="email?.errors?.['required']">
          Email is requied
        </div>
        <div class="text-danger" *ngIf="email?.errors?.['email']">
          Invalid email
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password">
      <div *ngIf="password?.invalid">
        <div class="text-danger" *ngIf="password?.errors?.['required']">
          Password is requied
        </div>
        <div class="text-danger" *ngIf="password?.errors?.['minlength']">
          Password must has at least 6 characters
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-between">
      <a routerLink="/auth">Already registered?Login here.</a>
      <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Regsiter</button>
    </div>
  </form>
</div>
