<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" routerLink="">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="">Home</a>
        </li>
      </ul>

      <!-- section admin -->

      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="cart/detail">Cart
            <span class="badge bg-danger	First	Last	Handle
1danger">{{cartCount}}</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="post/all">
            Proudcts
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
             aria-expanded="false">
            Member
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" *ngIf="isLoggedIn" (click)="logout()">Logout</a></li>
            <li><a class="dropdown-item" routerLink="/auth" *ngIf="!isLoggedIn">Login</a></li>
            <li><a class="dropdown-item" routerLink="/auth/register" *ngIf="!isLoggedIn">Register</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown" *ngIf="isLoggedIn">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
             aria-expanded="false">
            Admin
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/admin">Home</a></li>
            <li><a class="dropdown-item" routerLink="/admin/gallery">Gallery</a></li>
            <li><a class="dropdown-item" routerLink="/admin/gallery/create">Gallery Create</a></li>
            <li><a class="dropdown-item" routerLink="/admin/post">Post Create</a></li>
            <li><a class="dropdown-item" routerLink="/admin/post/all">Post All</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

